/* About Us */

/* Concept section */
.concept-container {
    padding: 1rem 0;
    background-color: aliceblue;
    text-align: center;
}

.concept-item h1 {
    text-align: center;
    font-size: 1.5rem;
}

.text {
    padding: 1rem;
}

.text p {
    margin-top: .5rem;
}

/* Staff section */
.staff {
    padding: 1rem 0;
    background-color: aliceblue;
}
.staff h2 {
    text-align: center;
    font-size: 1.2rem;
    padding: 3rem 0 1rem 0;
}

.staff-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.staff-item {
    text-align: center;
    padding-bottom: 1.5rem;
}

.staff-container img {
    width: 200px;
    height: 250px;
    object-position: center top;
    object-fit: cover;
}


/* For Tablet */
@media screen and (min-width: 768px) {
    .concept-container {
        padding: 10vh 10vw;
    }
    
    .staff {
        padding: 0 10vw;
    }

}

/* For Desktop */
@media only screen and (min-width: 992px) {
    
    
    p {
        font-size: 1.2rem;
    }

    .concept-item h1 {
        font-size: 2.5rem;
    }

    .staff h2 {
        font-size: 2rem;
    }
}