.contact {
    padding: 2rem;
}

.contact-title {
    text-align: center;
}

.contact-title h1 {
    margin-bottom: 0.5rem;
}

/* Contact info */
.contact-info {
    display: block;
    margin: 2rem 1rem;
}

.contact-container {
    width: max-content;
    margin: 0 auto;
}

.contact-item {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: .6rem;
}

.contact-item img {
    width: 6vw;
    margin-right: 1rem;
}

.contact-item a {
    list-style: none;
    color: #000;
}

/* Contact form */
.contact-container form {
    display: block;
    margin-top: 2rem;
}

form h2, input, textarea, button {
    margin: .5rem;
}

form h2 {
    text-align: center;
}

input, textarea {
    padding: 0.5rem;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    width: 70vw;
}

input:focus, 
textarea:focus {
    background-color: aliceblue;
    
}

button {
    padding: 0.4rem;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #45a049;
  }