/* Hero */
#hero {
    position: relative;
    height: 100vh;
    background: url(../imgs/hero.jpg);
    background-color: #333;
    background-size: cover;
    background-blend-mode: soft-light;

}

.hero-content {
    position: absolute;
    top: 20%;
    left: 10%;
    max-width: 60%;
}

.hero-content h3 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.hero-content input {
    padding: .5rem;
    border: none;
    border-radius: 4px;
    font-weight: 800;
    background-color: #fff;
    color: #333;
}

.hero-content input:hover {
    background-color: #333;
    color: #fff;
}


/* For Tablet */

@media screen and (min-width: 768px) {
    #hero {
        background-position: left center;
    }

    .hero-content {
        top: 15%;
        left: 10%;
        max-width: 60%;
    }

    .hero-content h3 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1.5rem;
    }

    .hero-content input {
        font-size: 1rem;
    }
}

/* For Desktop */
@media only screen and (min-width: 992px) {
    .hero-content input {
        margin-left: 45vw;
    }

    .hero-content {
        position: absolute;
        top: 30%;
        left: 10%;
        max-width: 60%;
    }
}