* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Hambarger Menu */
nav {
    display: block;
    width: 40vw;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: -300px;
    bottom: 0;
    transition: all 0.5s;
    z-index: 3;
    opacity: 0;
}

.open nav {
    left: 0;
    opacity: 1;
}

nav .inner {
    padding: 1rem;
}

.inner li {
    margin: 0;
    border-bottom: 1px solid #333;
}

.inner a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 1rem;
    transition-duration: 0.2s;
}

.inner a:hover {
    background-color: #e4e4e4;
}

/* Toggle */
.toggle {
    display: block;
    position: fixed;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
}

.toggle span {
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    transition: all 0.5s;
    border-radius: 4px;
}

.toggle span:nth-child(1) {
    top: 4px;
}

.toggle span:nth-child(2) {
    top: 14px;
}

.toggle span:nth-child(3) {
    bottom: 4px;
}

.open .toggle span {
    background-color: #fff;
}

.open .toggle span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
}

.open .toggle span:nth-child(2) {
    opacity: 0;
}

.open .toggle span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
}

/* Mask */
#mask {
    display: none;
    transition: all 0.5s;
}

.open #mask {
    display: block;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    cursor: pointer;
}

main {
    background-color: antiquewhite;
    height: 8vh;
    padding: 1rem;
}

main h1 {
    text-align: center;
}


/* Menu */
.menu-container {
    padding: 10vw;
}

.menu-container h1 {
    text-align: center;
}

.menu-lists {
    display: block;
}

.menu-item h2 {
    text-align: center;
    padding: 25%;
    color: #fff;
}

.menu-item {
    margin: 1rem;
    min-height: 20vh;
    background-color: #333;
    background-size: cover;
    background-blend-mode: multiply;
}

.menu-item:nth-child(1) {
    background-image: url(../imgs/pasta1.jpg);
}

.menu-item:nth-child(2) {
    background-image: url(../imgs/pasta2.jpg);
}

.menu-item:nth-child(3) {
    background-image: url(../imgs/pasta3.jpg);
}

.menu-item:nth-child(4) {
    background-image: url(../imgs/pasta1.jpg);
}

.menu-item:nth-child(5) {
    background-image: url(../imgs/pasta2.jpg);
}



/* Footer */
.footer-area {
    background-color: antiquewhite;
    text-align: center;
}

.footer-item {
    padding: 1.5rem;
}

.footer-item p:first-child {
    margin: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
}