/* Menu */
.menu-container {
    padding: 5vh 10vw;
}

.menu-container h1 {
    text-align: center;
}

.menu-lists {
    display: block;
}

.menu-item {
    margin: 1rem;
    min-height: 20vh;
    background-color: #333;
    background-size: cover;
    background-blend-mode: multiply;
    cursor: pointer;
    position: relative;
}

.menu-item h2 {
    text-align: center;
    padding: 25%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.menu-item:hover {
    background-color: #f0f0f0;
    transition: 0.5s;
}

.menu-item:nth-child(1) {
    background-image: url(../imgs/pasta1.jpg);
}

.menu-item:nth-child(2) {
    background-image: url(../imgs/pasta2.jpg);
}

.menu-item:nth-child(3) {
    background-image: url(../imgs/pasta3.jpg);
}

.menu-item:nth-child(4) {
    background-image: url(../imgs/pasta1.jpg);
}

.menu-item:nth-child(5) {
    background-image: url(../imgs/pasta2.jpg);
}


/* For Tablet */
@media screen and (min-width: 768px) {
    .menu-container {
        padding: 10vh 10vw;
    }

    .menu-lists {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }

    .menu-item:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
}

/* For Desktop */
@media only screen and (min-width: 992px) {
    .menu-container {
        padding: 15vh 15vw;
    }

    .menu-container h1 {
        font-size: 2.5rem;
    }
}
