.special {
    padding: 8vw;
}

.special h1 {
    text-align: center;
    font-weight: 800;
    margin-bottom: 1rem;
}

.item-container {
    display: block;
}

.item-card {
    padding: 1rem;
}

.item-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.item-card h2, .item-card p {
    text-align: right;
}


/* For Tablet */
@media screen and (min-width: 768px) {
    .item-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 2rem;
    }

}

/* For Desktop */
@media only screen and (min-width: 992px) {
    .special {
        padding: 5vh 15vw;
    }

    .item-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 2rem;
    }
}