.special {
    padding: 8vw;
}

.special h1 {
    text-align: center;
    font-weight: 800;
    margin-bottom: 1rem;
}

.item-container {
    display: block;
}

.item-card {
    padding: 1rem;
}

.item-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.item-card h2, .item-card p {
    text-align: right;
}